body{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#cabeza {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 45%;
    border: 1px solid #000;
}

#base {
    background-color: black;
    width: 70px;
    height: 60px;
    position: absolute;
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bombilla {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#botones {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
